<a href="#" id="upload_widget_opener">Upload multiple images</a>


<script type="text/javascript">
  document.getElementById("upload_widget_opener").addEventListener("click", function() {

    cloudinary.openUploadWidget({ cloud_name: 'dpbquh1uj', upload_preset: 'mnoe1mgq',
                                  sources: ['local', 'url'],
                                  max_files: 1,
                                  client_allowed_formats: ['gif']

    },
      function(error, result) { console.log(error, result) });

  }, false);
</script>

$(document).on('cloudinarywidgetsuccess', function(e, data) {
  console.log("Global", e, data);
});
