// Place all the styles related to the Gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-gifs-container {
  .container{
    width: inherit;
    .row {
      height: 271px;
      position: relative;
      .col-sm-12{
        padding: 0;
      }
      .gif-index-item {
        cursor: pointer;
      }
      .col-sm-6 {
        position: relative;
        height: 271px;
        padding: 0;
        #middle {
          padding: 2px;
          height: 270px;
        }
        .gif-index-item{
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          max-height: 100%;
          position:relative;
          float: left;
        }
        .nested {
          height: 133px;
          .gif-index-item {
            padding: 2px 2px 2px 2px;
            margin-left: auto;
            margin-right: auto;
            max-width: inherit;
            height: 100%;
            position:relative;
            float: left;
          }
        }
      }
      .col-sm-3 {
        height: 133px;
        padding: 0;
        .gif-index-item{
          padding: 2px 2px 2px 2px;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          max-height: 100%;
          position:relative;
          float: left;
        }
        .col-sm-12 {
          max-height: 100%;
          .nested{
            .gif-index-item{
              margin-left: auto;
              margin-right: auto;
              max-width: 100%;
              max-height: 100%;
              position:relative;
              float: left;
            }
          }
        }
      }
    }
  }
}

.loading{
  // background-image: url("nyan_cat.gif");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  display: block;
  background: rgba(0, 0, 0, .6);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}
