// Place all the styles related to the Gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-gifs-container {
  h2 {
    color: #b2b2b2;
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px;
  }
  .container{
    width: inherit;
    .row {
      height: 271px;
      position: relative;
      .col-sm-12{
        padding: 0;
      }
      .gif-index-item {
        cursor: pointer;
      }
      .col-sm-6 {
        position: relative;
        height: 271px;
        padding: 0;
        #middle {
          padding: 2px;
          height: 270px;
        }
        .gif-index-item{
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          max-height: 100%;
          position:relative;
          float: left;
        }
        .nested {
          height: 133px;
          .gif-index-item {
            padding: 2px 2px 2px 2px;
            margin-left: auto;
            margin-right: auto;
            max-width: inherit;
            height: 100%;
            position:relative;
            float: left;
          }
        }
      }
      .col-sm-3 {
        height: 133px;
        padding: 0;
        .gif-index-item{
          padding: 2px 2px 2px 2px;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          max-height: 100%;
          position:relative;
          float: left;
        }
        .col-sm-12 {
          max-height: 100%;
          .nested{
            .gif-index-item{
              margin-left: auto;
              margin-right: auto;
              max-width: 100%;
              max-height: 100%;
              position:relative;
              float: left;
            }
          }
        }
      }
    }
  }
}

.gif-index-item-tag{
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  display: inline;
  top: 0px;
  left: 0;
  width: 100%;
  color: #b2b2b2;
  letter-spacing: -1px;
  background: -webkit-linear-gradient( rgba(0, 0, 0, 1) , rgba(255, 255, 255, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient( rgba(0, 0, 0, 1) , rgba(255, 255, 255, 0)); /* Standard syntax */
  padding: 10px;
}

.gif-index-item-image-container{
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  height: 380px;
  width: 805px;
  background-color: #212121;
  img {
    display: block;
    margin: 0 auto;
  }
}

.share-container {
  height: 70px;
  width: 805px;
  background-color: #212121;
  position: relative;
  margin-bottom: 20px;
  label {
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    position: relative;
    padding: 10px;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  input {
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    position: relative;
    height: 40px;
    width: 50%;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    padding: 0 10px;
    font-family: 'Open Sans','Helvetica Neue',helvetica,sans-serif;
  }
}


.loaded-nyan-cat{
  opacity: 0;
}

.loading-nyan-cat{
  opacity: 1.0;
  transition: opacity 5.0s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  display: block;
  background: rgba(0, 0, 0, .6);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}
