.index {
  margin-top: -10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 967px;

  .index-albums-container {

  }
  .index-gifs-container {
    
  }
}

.gif-index-item {
  margin-top: -10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 967px;
}
