// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
  margin-top: 10px;
  height: 90px;
  position: relative;
  z-index: 499;

  .navbar-container {
    margin-left: auto;
    margin-right: auto;
    width: 967px;
    max-height: 90px;

    .logo-link{
      float: left;
      position: relative;
      top: 0;
      left: -11px;
      cursor: pointer;
      img {
        width: 200px;
        height: 86px;
      }
    }
  }
  .nav-wrapper{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    .default-nav{
      display: block;
      color: #fff;
      float: right;
      font-size: 14px;
      height: 60px;
      width: 500px;
      margin: 10px 0 0;
      .upload-button{
        cursor: pointer;
        margin-left: 30px;
        margin-right: 30px;
        float: right;
        background: #7b7b7b;
        border: 0;
        display: block;
        font-size: 20px;
        margin: 0;
        min-width: 140px;
        text-align: center;
        text-transform: uppercase;
        width: auto;
        height: 50px;
        transform: translate(0%, 15%);
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        display: block;
        padding: 10px;
      }
      .upload-button:hover {
        background: red;
        text-decoration: none;
      }

      .profile-button {
        cursor: pointer;
        margin-left: 30px;
        margin-right: 30px;
        float: right;
        background: #525252;
        border: 0;
        display: block;
        font-size: 20px;
        margin: 0;
        min-width: 140px;
        text-align: center;
        text-transform: uppercase;
        width: auto;
        height: 50px;
        transform: translate(0%, 15%);
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        display: block;
        padding: 10px;
      }
      .profile-button:hover {
        background: #696969;
        text-decoration: none;
      }
      .login-button {
        cursor: pointer;
        margin-left: 30px;
        margin-right: 30px;
        float: right;
        background: #525252;
        border: 0;
        display: block;
        font-size: 20px;
        margin: 0;
        min-width: 140px;
        text-align: center;
        text-transform: uppercase;
        width: auto;
        height: 50px;
        transform: translate(0%, 15%);
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        display: block;
        padding: 10px;
      }
      .login-button:hover {
        background: #696969;
        text-decoration: none;
      }
    }
  }
}

.profile-popover {
  top: 58px;
  width: 140px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15),0 1px 3px 0 rgba(0,0,0,0.25);
  z-index: 101;
  color: black;
  position: relative;
  left: 220px;
  ul {
    list-style-type: none;
    padding-left: 0;
    li.profile-popover-list{
      cursor: pointer;
      width:100%;
      padding-left: 20px;
      border-color: #bbbbbb;
      a {
        cursor: pointer;
        width: 100%;
        color: #696969;
        font-size: 16px;
        line-height: 38px;
        text-decoration: none;
        text-transform: uppercase;


      }
    }
    li:hover{
      background-color: #DDDDDD;
    }
  }
}

.search {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 967px;
  .searchBar {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 60px;
    width: 967px;
    #placeholder{
      font-size: 20px;
      height: 60px;
      margin-top: 15px;
      padding: 0 30px;
    }
    input {
      font-size: 20px;
      height: 60px;
      width: 906px;
      padding: 0 30px;
      border: 0;
      background: none;
      position: relative;
      z-index: 2;
      float: left;
    }

    button{
      height: 60px;
      width: 61px;
      float: right;
      background-image: url('Search_Gradient_Grey.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    button.active{
      cursor: pointer;
    }
  }

  .searchContent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 967px;
    font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
    color: #7b7b7b;
  }
}

.delete-container {
  width: 100%;
  h5 {
    display: inline-block;
    margin-right: 10px;
    width: 100%;
  }
  button {
    float: right;
  }
}

.upload-container {
  margin-top: -10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 967px;
  background-image: url("sanfranciscoshore.gif");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;

  .upload-content{
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    h3 {
      color: black;
    }
    .upload-form{
      position: relative;
      label {
        color: black;
      }
    }
  }
}
