// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.animated-background-wrapper-signup{
  background-image: url('fog.gif');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
    top: -30%;
    left: -30%;
    width: 130%;
    height: 130%;
    z-index: -1000;
    min-width: 960px;
}


#user-content{
  margin-top: 40px;
  margin-bottom: auto;
}

.user-form {
    margin-left: 30px;
    margin-right: auto;
    .form-row {

      .form-control{
        height: 40px;
        width: 299px;
        margin: 10px 20px 20px 10px;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
      }

    }

    .btn-primary {
      height: 40px;
      width: 299px;
      margin: 0px 10px 0px 10px;
      font-family: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif;
      font-size: 18px;
      letter-spacing: 3px;
    }
}
