// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.animated-background-wrapper-signup{
  background-image: url('fog.gif');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
    top: -30%;
    left: -30%;
    width: 130%;
    height: 130%;
    z-index: -1000;
    min-width: 960px;
}

.header-row{
  height: 100px;
  max-height: 100px;
  position: relative;
  content: "";
  display: block;
  clear: both;
}

.menu {
  a.sign-up-form {
    display: inline-block;
    margin-right: 40px;
    margin-top: 20px;
    height: 50px;
    padding: 25px;
    float: right;
    font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: relative;
    border-color: #fff;
    border-width: 2px;
    letter-spacing: 3px;
  }
  a.sign-up-form:hover{
    text-decoration: none;
    color: #fff;
  }
  a.login-form {
    display: inline-block;
    margin-right: 40px;
    margin-top: 20px;
    height: 50px;
    padding: 25px;
    float: right;
    font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: relative;
    border-color: #fff;
    border-width: 2px;
    letter-spacing: 3px;
  }
  a.login-form:hover{
    text-decoration: none;
    color: #fff;
  }
}

.modal {
  text-align: center;
  .modal-content {
      margin-top: 25%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      vertical-align: middle;
    .user-form {
        margin-left: auto;
        margin-right: auto;
        .form-row {

          .form-control{
            height: 40px;
            margin: 10px 20px 20px 10px;
            font-size: 16px;
            font-stretch: normal;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            margin-left: auto;
            margin-right: auto;
          }

        }
        .btn-primary {
          height: 40px;
          margin: 0px 10px 0px 10px;
          font-family: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif;
          font-size: 18px;
          letter-spacing: 3px;

        }
    }
  }
  .modal-footer {
      .signup-link {
        margin-right: auto;
        margin-left: auto;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 200;
        text-transform: capitalize;
        color: #565a5c;
      }

      .login-link {
        margin-right: auto;
        margin-left: auto;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 200;
        text-transform: capitalize;
        color: #565a5c;
      }

  }

}
#logo{
  margin-bottom: auto;
  img {
    height: 50%;
    width: 50%;
  }
}

.container-splash-page {
  position: relative;
  margin-top: 100px;
  margin-bottom: auto;
  .jumbotron {
    height: 25%;
    width: 33%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    text-align: center;
    color: #fff;
    h2 {
      font-size: 60px;
      letter-spacing: 10px;
    }
    p {
      letter-spacing: 3px;
      text-align: center;
    }
  }
}
